<!-- in order to reuse the same nav part of the create about 404 and index 
     by using express and ejs partial templates parts of the templates that can be reused in different views/assets  -->
<nav>
    <div class="site-title">
        <a href="/">
            <h1>SADISTICS</h1>
        </a>
        <p>A Blog Site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>


</nav>