<html lang="en">

<%- include("./partials/header.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>
            <div class="content">
                <h2>All Blogs</h2>
                <p>ABOUT THIS BLOG</p>
                <p>Write your thoughts out loud for the world to see!</p>

            </div>
    </body>
    <%- include("./partials/footer.ejs") %>

</html>